@model Course
<form method="post">
    <div class="list-group">
		 <a href="#"  class="list-group-item disabled"><h3>COURSE</h3><p></p></a>
		  <a href="#" class="list-group-item"><h3>BACKEND DEVELOPER</h3><p> PHP, Ruby, Python</p></a>

		  <a href="#" class="list-group-item"><h2>FRONT-END DEVELOPER</h2><p>HTML,CSS,JAVA</p></a>

		  <a href="#" class="list-group-item"><h1>DATABASE CONNECTOR</h1><p> SQL, ASP.NET CORE</p></a>

		</div>
    </form>